*{
    margin: 0px;
    padding: 0px;
}

.opc{
   background-color: rgba(11, 11, 11, 0.4);
   opacity: 0.5;
   z-index: 1;
}

body{
   height: 100vh;   
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Inter", sans-serif;
 }

 .container{
   max-width: 1100px;
 }

 .headerContainer{
    display: flex;
    justify-content: space-between;
    color: hsl(233, 8%, 79%);
    margin-bottom: 35px;
}
   
.navigation{
   display: flex;
   align-items: center;
}

.menuIcon{
   display: none;
}

.navigationUl{
   display: flex;
   list-style: none;
   font-weight: 400;
}

.navigationUl li{
   margin-left: 40px;
   font-size: 15px;
}

.navigationUl li:hover{
   cursor: pointer;
   color: hsl(5, 85%, 63%);
   transition: 0.3s;
}

 .bodyContainer{
   display: flex;
   margin-bottom: 45px;
   justify-content: space-between;
}

.sectionOne{
   width: 75%;
   margin-right: 25px;
}

.principalImage{
   width: 100%;
   height: 280px;
}

.principalImageMobile{
   display: none;
}

.noticeOne{
   display: flex;
   margin-top: 20px;
}

.titleNoticeOne{
   width: 50%;
}

h1{
   font-weight: 800;
   font-size: 55px;
   line-height: 50px;
}

.descriptionNoticeOne{
   width: 48%;
}

#textNoticeOne{
   text-align: start;
}

.readMoreBtn{
   margin-top: 35px;
   padding: 12px 38px;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: hsl(36, 100%, 99%);
   background-color: hsl(5, 85%, 63%);
   border: none;
}

.readMoreBtn:hover{
   cursor: pointer;
   background-color: hsl(240, 100%, 5%);
   transition: 0.3s;
}

.sectionTwo{
   width: 31%;
   background-color: hsl(240, 100%, 5%);
   color: hsl(36, 100%, 99%);
   padding: 25px 18px;
}

h2{
   color:hsl(35, 77%, 62%);
   margin-bottom: 20px;
}

h4{
   margin-bottom: 10px;
}

h4:hover{
   cursor: pointer;
   color: hsl(35, 77%, 62%);
   transition: 0.3s;
}

.hydrogenDiv{
   margin-bottom: 30px;
   border-bottom: 1px solid hsl(233, 8%, 79%);
   padding: 0 5px 30px;
}

.downsidesDiv{
   margin-bottom: 30px;
   border-bottom: 1px solid hsl(233, 8%, 79%);
   padding-bottom: 30px;
}

.sectionThree{
   display: flex;
   justify-content: space-between;
} 

.retroTopDiv{
   display: flex;
   width: 70%;
   margin-right: 25px;
   gap: 45px;
}

.lapTopDiv{
   padding-right: 50px;
}

.growthDiv{
   width: 32%;
}

article{
   display: flex;
   width: 100%;
}

.secondaryImg{
   height: 115px;
}

.articleDescArea{
   padding-left: 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
} 

h3{
   font-size: 2em;
   color: hsl(233, 8%, 79%);
}

h5{
   font-size: 1.1em;
   color: hsl(240, 100%, 5%);
}

h5:hover{
   cursor: pointer;
   color: hsl(5, 85%, 63%);
   transition: 0.3s;
}

p{
   font-size: 15px;
   color: hsl(233, 8%, 79%);
}

/* When open modal */
.burgerMenu{
   background-color: hsl(36, 100%, 99%);
   width: 200px;
   height: 450px;
   text-align: end;
   padding: 20px;
   z-index: 1;
   position: fixed;
   right: 0;
   top: 0;
}

.menuListBurger{
   display: flex;
   margin-top: 70px;
}

.menuListBurger ul{
   list-style: none;
   font-weight: 400;
}

.menuListBurger ul li{
   text-align: start;
   margin-bottom: 25px;

}



@media screen and (max-width: 376px) {

   body{
      width: 100vw;
      height: 100%;
   }

   .bodyContainer{
      flex-direction: column;
      justify-content: center;
   }

   .navigationUl{
      display: none;
   }

   .menuIcon{
      display: flex;
   }

   .container{
      width: 90%;
      margin-top: 25px;
   }

   .sectionOne{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 50px;
      margin-right: 0;
   }

   .titleNoticeOne{
      width: 100%;
      margin-bottom: 15px;
   }

   h1{
      font-size: 40px;
      line-height: 35px;
   }

   .noticeOne{
      flex-direction: column;
   }

   .descriptionNoticeOne{
      width: 100%;
   }

   .readMoreBtn{
      margin-top: 20px;
      padding: 12px 35px;
   }

   .principalImage{
      display: none;
   }

   .principalImageMobile{
      display: flex;
      width: 100%;
   }

   .sectionTwo{
      width: auto;
   }

   .sectionThree{
      flex-direction: column;
   }

   .retroTopDiv{
      flex-direction: column;
      width: 100%;
      gap: 25px;
      margin: 0;
   }

   .lapTopDiv{
      padding-right: 0;
   }

   .growthDiv{
      width: 100%;
      margin: 25px 0;
   }

   .articleDescArea{
      padding-right: 10px;
   }

}

@media screen and (max-width: 1440px) {

   body{
      height: 100%;
   }

   .container{
      margin-top: 30px;
   }

}